/* #0088ca */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

header {
	height: 650px;
	width: 100%;
	background: #04001f;
	/* display: none; */
}

nav {
	display: fixed;
	width: 100%;
	height: 100px;
}

h1,
h2,
h3,
h4,
li,
a {
	font-family: 'Open Sans';
	color: #fff;
}

a i {
	color: #000;
}

p {
	font-family: 'Roboto';
	font-size: 16px;
}

#navbar {
	list-style: none;
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	padding: 20px;
}

#navbar .article-icons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-left: auto;
	justify-content: flex-end;
	align-items: center;
	margin: 0 20px 0 auto;
	width: auto;
}

#navbar .article-icons i {
	color: #fff;
}

#navbar a {
	text-decoration: none;
}

#navbar li {
	display: inline-block;
	padding: 0 30px;
	text-align: center;
	align-self: center;
}

#logo img {
	height: 80px;
}

#hero {
	display: grid;
	align-content: center;
	grid-template-columns: 60% 40%;
	height: 550px;
	overflow: hidden;
}

#hero div {
	display: grid;
	height: 100%;
	align-content: center;
	text-align: right;
	margin-right: -15px;
}

#hero h1 {
	font-size: 90px;
	margin: 0;
	padding: 0;
	align-self: flex-end;
	line-height: 77px;
}

#hero h2 {
	align-self: flex-start;
}

#hero img {
	height: 1000px;
	position: relative;
	top: 200px;
}

section {
	display: grid;
}

section a[name='projects'] {
	display: none;
}

.section-header {
	display: grid;
	align-content: center;
	background: #0088ca;
	padding: 30px 0;
}

.right-header {
	background: #c00101
}

.right-header h3 {
	margin-left: auto;
}

.section-header h3 {
	font-size: 100px;
	padding: 0 80px;
	align-self: center;
}

article {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	padding: 60px;
}

article:nth-of-type(odd) {
	background: rgba(0, 0, 0, 0.05);
}

.article-logo {
	width: 100%;
	padding-bottom: 40px;
}

.article-logo img {
	display: block;
	height: 90px;
	margin: 0 auto;
}

.article-info {
	align-items: center;
	justify-content: center;
	width: 45%;
}

.article-info p {
	margin: 10px;
	align-self: center;
	line-height: 25px;
}

.article-info p:first-of-type::first-letter {
	font-size: 32px;
}

.article-graphics {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55%;
	margin-bottom: 10px;
}

.article-icons {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	font-size: 35px;
}

.article-icons i {
	display: inline;
	margin: 0 5px;
	cursor: grab;
}

.article-icons i:hover {
	color: #0088ca;
}

article:nth-child(odd) .article-icons i:hover {
	color: #c00101;
}

/* -- FlashSpark Section -- */

#flashspark .section-header {
	background: #000;
}

#flashspark .article-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#flashspark .article-graphics,
#flashspark .laptop {
	display: flex;
	align-items: center;
	justify-content: center;
}

#flashspark .laptop {
	width: 80%;
	min-width: 300px;
	position: relative;
	right: 3px;
}

#flashspark a {
	color: #000;
}

.laptop-image {
	position: relative;
}

/* -- Projects Section -- */

.article-icons .disabled:hover,
.article-icons .disabled i:hover {
	cursor: not-allowed;
	color: inherit;
}

#projects .article-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#projects .article-graphics,
#projects .laptop {
	display: flex;
	align-items: center;
	justify-content: center;
}

#projects .laptop {
	width: 80%;
	min-width: 300px;
	position: relative;
	right: 3px;
}

.testimonial {
	display: block;
	font-size: .8rem;
	border-left: 10px solid #3f6150;
	padding-left: 10px;
}

#dmdsystems .article-logo img {
	background-color: #171b25;
	padding: 20px;
	border-radius: 5px;
}

#dmdsystems .article-info a {
	color: #171b25;
}

#hawkins .article-info a {
	color: #3f6150;
}

section .article-icons a,
section .article-icons i {
	background: rgba(0, 0, 0, 0);
}

/* -- Personal Sections -- */

#personal *:not(h3) {
	color: #000;
}

/* -- About and Contact Sections -- */

#about,
#contact,
#personal {
	grid-template-rows: 200px 5fr;
}

#about .article-info,
#personal .article-info {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0;
}

#about .article-info .paragraphs {
	display: flex;
	width: 100%;
	margin: 0;
}

#about .article-info p
#personal .article-info p {
	width: 33%;
	align-self: flex-start;
}


#about .article-info ul,
#personal .article-info ul {
	list-style: none;
	margin: 10px;
}

#about .article-info li
#personal .article-info li {
	color: #000;
	margin-bottom: 20px;
}

.job {
	width: 100%;
	display: grid;
	grid-template-columns: 15% 85%;
	color: #000;
}

.job h4 {
	color: #000;
}

.job i {
	font-size: 50px;
	/* justify-self: center; */
}

.job img {
	width: 70px;
	justify-self: center;
}

.job span {
	font-size: 12px;
}

.article-info .job p {
	display: block;
	width: 100%;
}

.job p:first-of-type::first-letter {
	font-size: inherit;
}

#about .company-logo,
#personal .company-logo {
	display: inline-block;
	width: 100%;
}

#about .article-graphics,
#personal .article-graphics {
	width: 25%;
}



/* -- Contact Section -- */

#contact h4 {
	color: #000;
	text-align: center;
	font-size: 40px;
}

#contact .article-info {
	width: 50%;
	margin: 0 auto;
	grid-template-columns: 100%;
}

#contact > article > div.article-info > p > a {
	color: #c00101 !important;
}

#contact p::first-letter {
	font-size: inherit;
}

/* -- Footer -- */

footer {
	height: 70px;
	width: 100vw;
	background: #04001f;
	display: grid;
	justify-content: center;
	align-items: center;
}

footer p {
	color: #fff;
	font-size: 14px;
}

.profile {
	width: 100%;
	height: 100%;
	position: relative;
}

.profile {
	max-width: 1200px;
}

.laptop-image {
	width: 120%;
}

.site-image,
.carousel {
	position: absolute;
	width: 69%;
	height: 85%;
	top: -2%;
	left: 11%;
	padding-top: 0;
}

.carousel {
	height: 100%;
	overflow: hidden;
}

.carousel,
.carousel__viewport {
	width: 90%;
}

.carousel__viewport {
	overflow: hidden;
	padding: 0 5px solid #000;
}

.carousel__slide {
	display: flex;
	align-items: center;
}

.carousel__slide img,
.carousel__slide video {
	width: 100%;
	align-self: center;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.carousel__slide a {
	display: none;
}


#modal {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.8);
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}

#modal img, #modal video {
	width: 80%;
	z-index: 3;
}

.hide-desktop {
	display: none;
}

.mobile-carousel img {
	position: relative;
}

#mobile-protrack,
#mobile-hawkins-video {
	z-index: 5;
}

@media only screen and (max-width: 1250px) {
	.section-header h3 {
		font-size: 70px;
	}

	section .article-logo {
		order: 1;
	}

	section .article-info {
		order: 3;
		width: 80%;
		margin: 0 auto;
	}

	section .article-graphics {
		order: 2;
		margin: 20px auto;
	}

	section .article-icons {
		order: 4;
	}

	.article-info,
	.article-logo {
		width: 80% !important;
		margin: auto !important;
	}


	#about,
	#contact {
		grid-template-rows: 150px 5fr;
	}	

	.modal {
		width: 800px;
	}

	#navbar li {
		padding: 0 10px;
	}

	.section-header h3,
	.right-header h3 {
		margin: 0 auto;
		font-size: 40px;
		text-align: center;
	}

	section .article-info {
		width: 80%;
	}

	article {
		padding: 40px 0;
	}

	.article-info {
		grid-template-columns: 90%;
	}

	#about .article-info {
		flex-direction: column;
		align-items: center;
	}

	#about .article-info .paragraphs,
	#about .article-info ul {
		display: flex;
		flex-direction: column;
		width: 90%;
		gap: 20px;
	}

	#about .article-info .paragraphs p {
		width: 100%;
	}

	#about .article-info ul {
		margin-top: 20px;
	}

	.article-info,
	.article-logo {
		width: 80%;
		margin: auto;
	}

	#contact p a {
		color: #000;
		text-decoration: none;
	}

	.fa.fa-image {
		display: none;
	}

	#about .job {
		grid-template-columns: 15% 77%;
	}

	#about .job i {
		font-size: 35px;
	}
}

@media only screen and (max-width: 768px) {
	#about .job {
		grid-template-columns: 35% 65%;
	}

	#about .job p {
		margin-left: 0;
	}

	#navbar .article-icons {
		margin-right: 50px;
	}

}

@media only screen and (max-width: 500px) {

	#hero h1 {
		font-size: 60px;
		line-height: 50px;
		margin-right: 55px;
	}

	#hero h2 {
		transform: rotate(-90deg);
		transform-origin: right;
		position: relative;
		bottom: 130px;
		width: 290px;
	}

	#navbar li a {
		font-size: .8rem;
	}

	#navbar .article-icons {
		display: none;
	}
}

@media only screen and (max-width: 414px) {

	#hero h1 {
		font-size: 60px;
		line-height: 50px;
		margin-right: 0;
	}

	#hero h2 {
		transform: rotate(0deg);
		position: relative;
		bottom: 0;
		width: 265px;
	}

	#navbar li a {
		font-size: .8rem;
	}

	#navbar .article-icons {
		display: none;
	}
}


@media only screen and (max-width: 375px) {

	#hero h1 {
		font-size: 60px;
		line-height: 50px;
		/* margin-right: 5px; */
	}

	#hero h2 {
		transform: rotate(0deg);
		position: relative;
		bottom: 0;
		width: 240px;
		margin-left: 5px;
	}

	#navbar li a {
		font-size: .8rem;
	}

	#navbar .article-icons {
		display: none;
	}
}

@media (pointer:none), (pointer:coarse) {
	.hide-mobile {
		display: none;
	}
	
	.hide-desktop {
		display: block;
	}


}
